.login-btn {
  margin: 20px 0;
}

.form-input {
  width: 70vw;
}

.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #186a3b; /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #c0392b; /* red */
}

input:focus {
  border-color: rgba(248, 196, 113, 0.8);
  box-shadow: 0 1px 1px rgba(248, 196, 113, 0.075) inset,
    0 0 8px rgba(248, 196, 113, 0.6);
  outline: 0 none;
}

h2 {
  font-size: 18px;
  text-align: center;
  margin-top: 1rem;
}

.align-Center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay-popup {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: block;
}

.container {
  width: 50%;
  background-color: #fff;
  margin: 5% auto;
  padding: 1em;
}

.margin-top {
  margin-top: 10px;
}

.button-bckg {
  background-color: #7e5109;
  color: #ffffff;
}

a {
  color: #7e5109;
}

a:hover {
  font-weight: bold;
}

.align-right {
  float: right;
  display: flex;
  flex-direction: row;
}

button {
  width: 30%;
  font-size: 14px;
}

@media (max-width: 600px) {
  .container {
    width: 90%;
    background-color: #fff;
    margin-top: 30%;
    padding: 5px;
  }

  h2 {
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
  }

  input {
    font-size: 14px;
  }

  button {
    font-size: 16px;
  }

  p {
    font-size: 14px;
  }

  a {
    font-size: 14px;
  }

  button {
    font-size: 12px;
    width: 30%;
  }

  .googleButton {
    font-size: 11px;
    width: 45%;
  }
}
